.ja_app,
#what,
#online {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.ja,
.ja_app,
#what,
#online {
  font-family: var(--sub-font);
}

.en,
.en_app,
.other_app,
#you {
  font-family: var(--main-font);
}

#what,
#online,
.back {
  transition: color 2500ms ease;
  text-decoration: none;
}

#online:hover,
.back:hover {
  color: var(--sub-color);
  cursor: pointer;
  transition: color 1250ms ease;
}

#what,
.ja_app,
.en_app,
.other_app {
  font-size: 0.8rem;
}

#you,
#what,
#online,
.back {
  color: var(--text-color);
  position: fixed;
  z-index: 100;
}

#what {
  top: 0;
  right: 0;
  margin: 5% 2.5% 2.5%;
}

#you {
  bottom: 0;
  right: 0;
  font-size: 100%;
  margin: 2.5%;
}

@media screen and (min-width: 750px) {
  #what {
    margin: 2.5rem 1rem 1rem;
  }

  #you {
    margin: 1rem;
  }
}

.ja_app,
.en_app,
.other_app {
  color: var(--text-color);
  position: relative;
  box-sizing: border-box;
}

.ja_app {
  padding: 7.5% 5% 15%;
  margin: auto;
  height: 90%;
  width: 75%;
  max-width: 1000px;
  max-height: 50rem;
  overflow: auto;
}

.en_app,
.other_app {
  width: 90%;
  max-width: 45rem;
}

.en_app {
  padding: 2.5%;
  margin: 5% auto 20%;
}

.other_app {
  padding: 2.5%;
  margin: 5% auto 7.5%;
}

@media screen and (min-width: 750px) {
  .ja_app {
    padding: 4rem 2.5rem 7.5rem;
  }

  .en_app {
    padding: 1rem;
    margin: 2.5rem auto 10rem;
  }

  .other_app {
    padding: 1rem;
    margin: 2.5rem auto 5rem;
  }
}

#image {
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  z-index: 10;
  width: 75vw;
  height: 75vh;
  filter: blur(0.5rem);
  -webkit-filter: blur(0.5rem);
  transition: filter 2500ms ease;
}

#image:hover {
  filter: blur(0);
  -webkit-filter: blur(0);
  transition: filter 1000ms ease;
}

@media screen and (max-width: 550px) {
  #image {
    filter: blur(0);
    -webkit-filter: blur(0);
  }

  #image:hover {
    filter: blur(0);
    -webkit-filter: blur(0);
  }
}

#online {
  top: 0;
  left: 0;
  font-size: 75%;
  border-right: solid 1px red;
  padding-right: 0.5em;
  margin: 2.5%;
}

.back {
  bottom: 0;
  left: 0;
  font-size: 250%;
  margin: 0 2.5%;
}

@media screen and (min-width: 750px) {

  #online {
    margin: 1rem;
  }

  .back {
    margin: 0 1rem;
  }
}
