body {
    margin: 0;
    padding: 0;
}

.library {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.library>* {
    display: inline-block;
}

.library li {
    position: relative;
    width: 75rem;
    max-width: 90vw;
    height: 95vh;
    list-style: none;
    white-space: normal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.library li .contents {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 55%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.library li h2 {
    padding: 2rem 0 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.library li p {
    font-size: 1rem;
}

.library li .contents p {
    padding: 1rem 0;
}

.by {
    width: 5vw;
    padding-right: 1vw;
}

.as {
    width: 15vw;
    padding-right: 0;
}

.name {
    font-size: 0.75rem;
    padding: 0 5%;
}

.center {
    width: 100%;
    text-align: center;
    padding: 5vh 0;
}

.outside {
    position: relative;
    height: 100%;
    width: 100%;
}

.buy a {
    color: #000;
    font-size: 15vw;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15vh 15vw;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.buy a:hover {
    color: blue;
}

.library::-webkit-scrollbar,
.library li::-webkit-scrollbar {
    height: 4vh;
    background: #fff;
}

.library::-webkit-scrollbar-thumb,
.library li::-webkit-scrollbar-thumb {
    background: #000;
}

@media screen and (max-width: 750px) {
    .library li p {
        font-size: 1.5vw;
    }
    .library li h2 {
        font-size: 2vw;
    }
}