.jpg_000 {
  background-image: url(img/000.jpg);
  background-position: 50% 100%;
  background-size: auto 75%;
}

.png_000 {
  background-image: url(img/000.png);
  background-position: 50% 50%;
  background-size: 100%;
}

.jpg_001 {
  background-image: url(img/001.jpg);
  background-position: 50% 50%;
  background-size: 80%;
}

.jpg_002 {
  background-image: url(img/002.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.jpg_003 {
  background-image: url(img/003.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

:root {
  --main-font: 'Source Serif Pro', serif;
  --sub-font: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  --bg-color: #fff;
  --text-color: #111;
  --sub-color: #fff7;
}

.mousedragscrollable h1,
.mousedragscrollable h2,
.mousedragscrollable .main {
  font-family: var(--main-font);
}

.mousedragscrollable p,
.mousedragscrollable .sub {
  font-family: var(--sub-font);
}

.mousedragscrollable .tt {
  letter-spacing: 0.1rem;
}

.mousedragscrollable .tt i {
  letter-spacing: 0.125rem;
}

.mousedragscrollable .tt b {
  font-weight: 900;
}

.mousedragscrollable .tt u {
  font-weight: 600;
}

@media screen and (max-width: 750px) {

  .mousedragscrollable .tt {
    letter-spacing:0.125vw;
  }

  .mousedragscrollable .tt i {
    letter-spacing:0.2vw;
  }
}

@media screen and (max-width: 550px) {

  .mousedragscrollable .tt {
    letter-spacing:0.25vw;
  }

  .mousedragscrollable .tt i {
    letter-spacing:0.45vw;
  }
}
