
#parallax,
#parallax li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#parallax,
#parallax li {
  width: 100%;
  overflow-x: hidden;
}

#parallax li {
  position: absolute;
  width: 50vw;
  height: 50vw;
  max-width: 500px;
  max-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
}

.img_book {
  background-image: url(img/book.png);
  background-size: 100%;
  bottom: 5vh;
  right: 2.5%;
  z-index: -1;
}

.img_000 {
  background-image: url(img/000.jpg);
  background-size: 100%;
  left: 0;
  z-index: -3;
}

.img_004 {
  background-image: url(img/004.JPG);
  background-size: 100%;
  top: 150vh;
  z-index: -2;
}

.img_005 {
  background-image: url(img/005.JPG);
  background-size: 75%;
  left: 0%;
  z-index: -1;
}

.img_006 {
  background-image: url(img/006.JPG);
  background-size: 90%;
  top: 250vh;
  z-index: -4;
}

.img_007 {
  background-image: url(img/007.JPG);
  background-size: 100%;
  left: 10%;
  z-index: -4;
}

.img_008 {
  background-image: url(img/008.JPG);
  background-size: 100%;
  right: 30%;
  z-index: -3;
}

.img_009 {
  background-image: url(img/009.JPG);
  background-size: 125%;
  left: 25%;
  z-index: -5;
}
