#buynow,
#footer {
  font-family: 'Source Serif Pro', serif;
}

.ja_app,
#what {
  text-shadow: -1px 1px 0 #fff;
  text-shadow: -2px 2px 0 #fff;
}

.en_app,
#buynow {
  text-shadow: 1px 1px 0 #fff;
  text-shadow: 2px 2px 0 #fff;
}

#footer {
  pointer-events: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

a {
  color: #000;
  display: inline-block;
  text-decoration: none;
  transition: 2.5s all;
}

a:hover {
  color: red;
  cursor: pointer;
  transition: 1.5s all;
}

h1 a {
  border: 2px solid;
  border-radius: 5rem;
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0 auto 5rem;
}

h3 a {
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 0.1rem 0.5rem;
  margin: 0 0.25rem 0.5rem 0;
}

#main h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

#main h3 {
  font-size: 1.1rem;
  line-height: 200%;
  font-weight: 500;
}

#buynow {
  font-size: 0.9rem;
  width: 90%;
}

#buynow {
  padding: 2.5% 0;
  margin: 2.5% auto 10%;
  max-width: 50rem;
}

#what,
#back  {
  position: fixed;
  z-index: 100;
}

#what {
  top: 0;
  right: 0;
  font-size: 0.9rem;
  margin: 7.5% 2.5% 2.5%;
}

#back {
  bottom: 0;
  right: 0;
  font-size: 250%;
  margin: 0 2.5%;
}

@media screen and (min-width: 750px) {
  #what {
    margin: 3.33rem 1rem 1rem;
  }

  #back {
    margin: 0 1rem;
  }

  #buynow {
    padding: 1rem 0;
    margin: 1rem auto 5rem;
  }
}

:root {
  --main-font: 'Source Serif Pro', serif;
  --sub-font: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  --bg-color: #fff;
  --text-color: #000;
  --sub-color: #fff7;
}

.mousedragscrollable h1,
.mousedragscrollable h2,
.mousedragscrollable .main {
  font-family: var(--main-font);
}

.mousedragscrollable p,
.mousedragscrollable .sub {
  font-family: var(--sub-font);
}

.mousedragscrollable .title {
  letter-spacing: 0.1rem;
}

.mousedragscrollable .title i {
  letter-spacing: 0.125rem;
}

.mousedragscrollable .title b {
  font-weight: 900;
}

.mousedragscrollable .title u {
  font-weight: 600;
}

@media screen and (max-width: 750px) {

  .mousedragscrollable .title {
    letter-spacing:0.125vw;
  }

  .mousedragscrollable .title i {
    letter-spacing:0.2vw;
  }
}

@media screen and (max-width: 550px) {

  .mousedragscrollable .title {
    letter-spacing:0.25vw;
  }

  .mousedragscrollable .title i {
    letter-spacing:0.45vw;
  }
}
